@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply h-5 w-5 transform cursor-pointer transition duration-100 ease-out hover:scale-125;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.flex-grow {
  flex-grow: 1;
}
.h-screen {
  height: 100vh;
}
.overflow-y-scroll {
  overflow-y: scroll;
}
.absolute {
  position: absolute;
}
.top-5 {
  top: 1.25rem;
}
.right-8 {
  right: 2rem;
}
.text-white {
  color: #ffffff;
}
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.bg-black {
  background-color: #000000;
}

.space-x-3 {
  margin-left: 0.75rem;
  margin-left: 0.875rem;
}
.opacity-90 {
  opacity: 0.9;
}
.hoveropacity-80:hover {
  opacity: 0.8;
}
.cursor-pointer {
  cursor: pointer;
}
.rounded-full {
  border-radius: 9999px;
}
.p-1 {
  padding: 0.25rem;
}
.pr-2 {
  padding-right: 0.5rem;
}
.w-10 {
  width: 2.5rem;
}
.h-10 {
  height: 2.5rem;
}
.items-end {
  align-items: flex-end;
}
.space-x7 {
  margin-left: 1.75rem;
}
.h-80 {
  height: 20rem;
}
.p-8 {
  padding: 2rem;
}
.h-44 {
  height: 11rem;
}
.w-44 {
  width: 11rem;
}
.shadow-2xl {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
@media (min-width: 768px) {
  .md-text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

@media (min-width: 1280px) {
  .xl-text-5xl {
    font-size: 3rem;
    line-height: 1;
  }
}

.font-bold {
  font-weight: 700;
}
.sticky{

}
.bottom-0{

}
.h-24{

}
